@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
  border: 1px solid #d1d5db;
  background: #fff;
  border-radius: 6px;
  margin-top: 15px;
}
.editor {
  width: 100%;
  height: 203px;
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
  padding: 20px;
  line-height: 24px;
}
